<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
<title th:text="#{layout-search}">Spring</title>
<link rel="stylesheet" type="text/css" th:href="@{/img/Search/css/custom.css}" />
<link rel="stylesheet" type="text/css" th:href="@{http://fonts.googleapis.com/css?family=Open+Sans}" />
</head>
<body>
	<header th:replace="layout::site-header" />

	<div class="container">
		<div th:if="${!ListProductSearch.isEmpty()}" class="col-xs-12 col-md-6 bootstrap snippets" th:each="item:${ListProductSearch}">
			<!-- product -->
			<div class="product-content product-wrap clearfix">
				<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class="product-image"> 
								<img th:src="@{/Product/Image/{id}(id=${item[0]})}" src="/Product/Image/20" alt="194x228" class="img-responsive" /> 
								<span class="tag2 hot">
									HOT
								</span> 
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
						<div class="product-deatil">
								<h5 class="name">
									<b><a th:href="@{/Product/{id}/Detail(id=${item[0]})}" th:text="${item[5]}">Product Name Title Here</a></b>
								</h5>
								<p class="price-container">
									<span th:text="${#numbers.formatDecimal(item[1],0,'COMMA',0,'POINT')}">$99</span>
								</p>
								<span class="tag1"></span> 
						</div>
						<div class="description">
							<p th:text="${item[6]}">Proin in ullamcorper lorem. Maecenas eu ipsum </p>
							<i><p th:text="${item[7]}">Proin in ullamcorper lorem. Maecenas eu ipsum </p></i>
						</div>
						<div class="product-info smart-form">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-6"> 
									<a th:href="@{/Product/{id}/Detail(id=${item[0]})}" class="btn btn-success" th:text="#{Catalog-add-to-cart}">Add to cart</a>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div class="rating">
										<label for="stars-rating-5"><i class="fa fa-star text-primary"></i></label>
										<label for="stars-rating-4"><i class="fa fa-star text-primary"></i></label>
										<label for="stars-rating-3"><i class="fa fa-star text-primary"></i></label>
										<label for="stars-rating-2"><i class="fa fa-star text-primary"></i></label>
										<label for="stars-rating-1"><i class="fa fa-star text-primary"></i></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end product -->
		</div>
		<img th:if="${ListProductSearch.isEmpty()}" th:src="@{/img/Search/images/icon-search.jpg}" class="img-responsive center-block" />
	</div>

	<footer th:replace="layout::site-footer" />
	
	<script type="text/javascript" th:src="@{/img/Search/js/customjs.js}"></script>
	<script type="text/javascript" th:src="@{/img/Search/Search.js}"></script>
	
</body>
</html>